name: CodeBuild Runners Test

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: codebuild-github-runner-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::590624982938:role/github-actions-oidc-role
          aws-region: us-east-1

      - name: Run AWS S3 command
        run: |
          aws s3 ls | wc -l
